 body{
    width: 1200px;
    height: 100%;
    margin: 0 auto; 
    #logo{
        margin: 10px 0 0 0;
        padding: 0 0 10px 0;
        border-bottom: solid 1px #919191;
        img{
            cursor: pointer;
        }
    }
 }  
 
 //表单验证
form{ 
    position: relative;
    width:1200px;
    height:592px;       
    .contentLeft{
        float:left;
        width: 465px;
        height: 500px;
        margin: 90px 0 0 130px;
    }
    h1{
        height: 35px;
        width: 415px;
        float: right;
        line-height: 35px;
        margin: 0 100px 0 0;
        border-bottom: 2px solid #b81e20;
        margin-top:40px;
        font-size: 24px;
        color: #a2a2a2;
        font-weight: bolder;
        span{
            font-size:14px;
            float:right;
        }
    }
    .contentRight{
        float:right;
        width:415px;
        height:423px;
        margin: 20px 100px 0 0;
        ul{
           padding-left:0; 
            li{
                margin-top:13px;
                list-style:none;
                text-align: left;
                span{
                    display: none;
                    width:418px;
                    height:18px;
                    font-size:14px;
                }
                .identCode,.phoneCode{
                    width:260px;
                    height:43px;
                }
                .phoneIdent,.pwd,.repwd{
                    width:100%;
                    height:45px;
                }
                .identImg{
                    display: block;
                    height:48px;
                    float:right;
                    img{
                        width:130px;
                        height:48px; 
                    }
                }
                .getIdent{
                    width: 127px;
                    height: 45px;
                    text-align: center;
                    line-height: 45px;
                    background: #f5f5f5;
                    color: #b52024;
                    border: solid 1px #cbcbcb;
                    display: block;
                    float: right;
                    margin: 0 0 0 10px;
                    font-weight: bolder;
                }
                .registBtn{
                    font-size:14px; 
                    color: rgb(157, 157, 157);
                    a{
                        font-size:12px;
                        color: #b52024;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
                .subBtn{
                    width:100%;
                    height:46px;
                    background: #eee;
                    margin-top:20px;
                }
            }
        }    
    }
}

//尾部连接
#footerArea .footBottom{
    position: absolute;
    left:0px;
    bottom:-100px;
    width: 100%;
    height: auto;
    margin: 0px auto;
    border-top: 1px solid #3e3a39;
    .footBottomTab{
        width: 1200px;
        height: auto;
        margin: 10px auto;
        p{
            text-align: center;
            line-height: 25px;
            color: #3e3a39;
            font-family: "Microsoft YaHei";
        }
    }
    .blank20{
        display: block;
        width: 100%;
        height: 40px;
        line-height: 0px;
        font-size: 0px;
        clear: both;
        overflow: hidden;
    }
}
